/* Basic styling for the table */
body {
  font-family: Arial, sans-serif;
  
  margin: auto;
}

@media only screen and (min-width: 1000px) {
  .main{
    margin-top: 30px !important;
    margin: auto;
    width: 50%;
  }

  table {
    width: 50%;
  }
}

.cursor{
  cursor: pointer !important;
}



table {
  width: 100%;
  border:2px solid rgb(199, 199, 199);
  border-collapse: collapse;
  
}



th {
  background-color: rgb(243, 242, 242);
  cursor: pointer !important;
}

th, td {
  padding: 5px 12px;
  text-align: left;
  font-size: 13px;
  font-weight: 600;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.gm-mg{
  color: gray;
}

tr:hover {
  background-color: #dbd7ef;
}


 i {
    cursor: pointer !important;
}

.border-right{
  border-right: 2px solid rgb(199, 199, 199);
}

.blue{
  color: blue;
}
.gray{
  color: rgb(148, 148, 148);
}

.moveUp-dwon:hover{
  color: blue;
}
.red{
  color: red;
}

moveUp-dwon::before, [class*=" bi-"]::before, [class^=bi-]::before {
  display: inline-block;
  font-family: bootstrap-icons !important;
  font-style: normal;
  font-weight: 600 !important;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  vertical-align: -.125em;
  -webkit-font-smoothing: antialiased;
}